{% extends "blog/base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <!-- Link the specific form CSS for the login page -->
    <link rel="stylesheet" href="{% static 'users/forms.css' %}">

    <div class="container">
        <div class="form-container">
            <h2>Login to Your Account</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember_me" id="remember_me">
                    <label for="remember_me">Remember me</label>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>

            <hr>

            <div class="social-login">
                <h3 class="text-center">Or login with</h3>
                <a href="{% provider_login_url 'google' %}" class="btn btn-danger w-100 mt-2">Login with Google</a>
                <!-- <a href="" class="btn btn-primary w-100 mt-2">Login with Facebook</a> -->
            </div>
        </div>
    </div>
{% endblock %}
